body{ 
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  background-color: #000; 
 }

canvas { 
  width: 100%; 
  height: 100%;
}

header{
font-family: century gothic; 
color: #800080; 
font-size: 5em; 
text-align: center; 
text-transform: lowercase; 
padding-top: 30px; 
}